In [36]:
import pandas as pd
import os
from IPython.display import Markdown

In [27]:
os.chdir("D:\Stackerbee\Timeseries\Csv_Data_set")

In [39]:
class Timeseries:
    def __init__(self,path,path1):
        self.data_set = pd.read_csv(path)
        self.data_set_1 = pd.read_csv(path1)
    def display(self):
        display(Markdown('# Displying the first data set head and the datatypes'))
        display(self.data_set.head())
        print("\n")
        display(self.data_set.dtypes)
        print("\n\n")
        display(Markdown('# Displying the second data set head and the datatypes'))
        display(self.data_set_1.head())
        print("\n")
        display(self.data_set_1.dtypes)
    

Timeseries_Analysis = Timeseries('MLTempDataset.csv','MLTempDataset1.csv')
Timeseries_Analysis.display()

# Displying the first data set head and the datatypes

   Unnamed: 0  Datetime1  DAYTON_MW             Datetime
0           0          0     20.867  2022-01-04 00:00:00
1           1          1     21.000  2022-01-04 01:00:00
2           2          2     20.867  2022-01-04 02:00:00
3           3          3     20.650  2022-01-04 03:00:00
4           4          4     20.400  2022-01-04 04:00:00

Unnamed: 0      int64
Datetime1       int64
DAYTON_MW     float64
Datetime       object
dtype: object

# Displying the second data set head and the datatypes

   Unnamed: 0             Datetime  Hourly_Temp
0           0  2022-01-04 00:00:00       20.867
1           1  2022-01-04 01:00:00       21.000
2           2  2022-01-04 02:00:00       20.867
3           3  2022-01-04 03:00:00       20.650
4           4  2022-01-04 04:00:00       20.400

Unnamed: 0       int64
Datetime        object
Hourly_Temp    float64
dtype: object